@keyframes a {
    from {background-color: #17a2b8; border: 1px solid #17a2b8;}
    to {background-color:#138496;  border: 1px solid #138496;}
}

body {
    background-image: url(img/watermelon.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}
.div {
    width: 100%;
    height: 100%;
}
.div2 {
    width: 100%;
}
.div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.div2 .bas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer {
    width: 100%;
    height: auto;
    background: linear-gradient( #082351, #19052d);
}

.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ul1 {
    margin: 0px;
}
.f {
    height: 112px;
}
.f {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


li {
    color: aliceblue;
}

h1 {
    
    border-bottom: 1px solid pink;
    box-shadow: 1px #888888;
    color: beige;
}

div .bas .b {
    padding: 3px 5px;
    background-color: #17a2b8;
    border: 1px solid #17a2b8;
    border-radius: 5px;
    color: aliceblue;
    transition: all 1s;
}

div .bas .b:hover {
    transform: scale(1.05);
    animation-name: a;
    animation-duration: 1s;
}